@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.app {
    position: relative;
    background-image: url(./assets/bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 1920px;
    min-height: 1080px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Merriweather;
    color: #fff;
}